---
---
<xtplay-output-traffic style="display: none;" />

<script>
    import { XtPlayOutput } from "./xtplay.js"
    import { makeError } from "../xtplay/utils.js"

    class XtPlayOutputTraffic extends XtPlayOutput {
        render(results) {
            try {
                let firstCol = results[0];
                let value = firstCol[Object.keys(firstCol)[0]]
                value = parseFloat(value).toFixed(2);

                let color = value < 0 ? 'text-red-500' : 'text-black dark:text-white';

                this.innerHTML = `<div class="text-3xl ${color}">${value}</div>`
            } catch (e) {
                this.innerHTML = makeError(
                    "Result Error",
                    "Uh oh! Failed to read the result. Please try again or contact us to sort it out.",
                );
            }
        }
    }

    customElements.define('xtplay-output-traffic', XtPlayOutputTraffic);
</script>
