---
const { href, class: classes, label, variant, disabled } = Astro.props;
---

{disabled
? <div class={'button-inactive ' + classes}>
    <slot>{label}</slot>
  </div>
: <a href={href} data-button-variant={variant} class={'button-active ' + classes}>
    <slot>{label}</slot>
  </a>
}

<style>
 .button-active, .button-inactive {
     @apply inline-block border-0 px-4 py-3 rounded-lg
     font-bold leading-5 text-center ease-out duration-300
     transition-colors appearance-none
 }

 .button-active {
     @apply bg-amber-500 text-white dark:text-black
 }

 .button-inactive {
     @apply bg-stone-800 text-gray-100 dark:text-gray-500 cursor-not-allowed
 }

 .button-active:hover, 
 .button-active:active, 
 .button-active:focus {
     @apply bg-amber-700 dark:bg-amber-200 no-underline
 }

 .button-active[data-button-variant="disabled"] {
     @apply pointer-events-none
 }

 .button-active[data-button-variant="outlined"],
 .button-active[data-button-variant="ghost"],
 .button-active[data-button-variant="header"] {
     @apply bg-transparent
     border-amber-400 text-amber-400
     hover:bg-amber-700 hover:text-amber-200
     active:bg-amber-700 active:text-amber-200
     focus:bg-amber-700 focus:text-amber-200
 }

 .button-active[data-button-variant="outlined"] {
     @apply border
 }

 .button-active[data-button-variant="header"] {
     @apply flex items-center justify-center border border-amber-400 rounded-full
 }
</style>
