---
  const { items, variant } = Astro.props;
---

<div class="segmented-control" sc-variant={variant}>
  <div class="tablist items">
    {items.map((item) => (
    <a href={item.href} {...item.attr} class="tab" aria-selected={item.active}>
        {item.label}
    </a>
    ))}
  </div>
</div>

<style>
  .segmented-control {
    @apply rounded-lg bg-button-white inline-flex
  }

  .tablist {
    @apply flex flex-row justify-center p-0
  }

  .tab {
    @apply my-auto h-full flex flex-col justify-center block pt-3 pb-2 rounded-lg text-black text-sm font-bold text-center uppercase no-underline aria-selected:bg-button-dark lg:aria-selected:bg-button-orange aria-selected:text-white
  }

  .segmented-control[sc-variant="code-control"] {
    @apply bg-none
  }

  .segmented-control[sc-variant="code-control"] .tab {
    @apply bg-button-white mt-1 pt-2 pb-1 px-4 mr-2 border border-black aria-selected:bg-button-dark aria-selected:text-white text-sm
  }

  .segmented-control[sc-variant="full"] {
    @apply w-full
  }
  .segmented-control[sc-variant="full"] .tablist {
    @apply w-full
  }

  .segmented-control[sc-variant="full"] .tab {
    @apply w-0 grow
  }


  
</style>
