---
  const { class: classes, core2 = false } = Astro.props;
  
  let logoLink = core2 ? "/shared/images/logo-core2.svg" : "/shared/images/logo-text.svg"
  let classList = "relative " + classes
---

<div class="inline-block align-middle">
    <div class={classList}>
        <img class="absolute block top-0 left-0 w-full h-full" src={logoLink} alt="Logo of XTDB"></img>
    </div>
</div>
