---
import HeadMatter from '/shared/src/components/head-matter.astro'
import Header from '/shared/src/components/header.astro'
import Footer from '/shared/src/components/footer.astro'
import '/shared/src/styles/site.css'
const {frontmatter = {}, ...props} = Astro.props

const title = props.title || frontmatter.title
const metaDesc = props.metaDesc || frontmatter.metaDesc
const socialImagePath = props.socialImagePath || frontmatter.socialImagePath
---

<html lang="en">
	<head>
		<HeadMatter metaTitle={title} metaDesc={metaDesc} socialImagePath={socialImagePath}/>

		<title>{title}</title>
	</head>

	<body>
		<Header />

		<main id="main-content" class="my-8 container">
			<slot />
		</main>

		<Footer />
		<!--TODO: Add <BodyAssets /> -->
	</body>
</html>
